#banner {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#banner tr:nth-child(even){background-color: #f2f2f2;}


#banner th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*Buttons Style*/
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 


/*Carte Lille */
#carte_campus { 
  width : 400px; 
  height : 400px; 
  margin: auto;
  width: 50%;
  border: 3px solid;
  padding: 10px;
}


/*Tableau des stations*/

#stationsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#stationsTable td, #stationsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#stationsTable tr:nth-child(even){background-color: #f2f2f2;}

#stationsTable tr:hover {background-color: #ddd;}

#stationsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f44336;
  color: white;
}


















